<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class = "bg-light">
    <div class = "container text-center mt-5">
    <h1 class="mb-4">Welcome! 🚀 </h1>
    <p class="lead">This is my first Flask web app :)</p>

    <div class="mt-4">
    <a href="/register" class="btn btn-success w-50">Register</a><br><br>
    <a href="/login" class="btn btn-primary w-50">Login</a><br><br>
      <a href="/about">Go to About Page</a><br><br>
    </div>
</div>

</body>
</html>